@using Microsoft.AspNetCore.SignalR.Client
@using BlazorFrontEnd.Services
@using Asteroids.Shared.GameObjects
@using System.Threading

@inject RemoteAkkaService AkkaService
@inject SignalRService hubService

@page "/game/{username}/{lobbyname}"

<h1>Welcome @Username</h1>

@if (@gameObject.state == GameState.JOINING)
{
    <div>Joining</div>
} 
else
{
    <div>Playing</div>
}

<div>List of Joined</div>
@if (gameObject != null)
{
    @if (gameObject.ships != null)
    {
        @if (Lobbyname == Username && gameObject.state == GameState.JOINING)
        {
            <button  @onclick="StartGame">Start Game</button>
        }

        <div>Player Count: @gameObject.ships.Count</div>
        <ul>
        @foreach (var item in gameObject.ships)
        {
            <li>@item.Username</li>
        }
        </ul>
    }
}

<div
    tabindex="0"
    class="border border-4 border-black rounded-4 game-board"
    style="height: 500px; width: 1000px;"
    @onkeydown="handleKeyDown"
    @onkeyup="handleKeyUp"
    @onblur="handleBlur"
>

</div>

<style>
    .game-board:focus {
        border-color: blue !important;
        background-color: lightgrey;
    }
</style>

@code {
    [Parameter]
    public string? Username { get; set; }

    [Parameter]
    public string? Lobbyname { get; set; }

    private List<string> list = new();
    private GameStateObject gameObject { get; set; }

    private Timer timer;

    protected override async Task OnInitializedAsync()
    {
        if (gameObject == null)
        {
            gameObject = new();
        }

        await hubService.EnsureStartedAsync();
        hubService.NewGameState += ReceiveGameState;
        AkkaService.GetState(Lobbyname, Username);

        timer = new Timer(_ =>
        {
            SendShipInput();
        }, null, 0, 1000);
    }

    private void ReceiveGameState(GameStateObject game){
        gameObject = game;

        Console.WriteLine(gameObject.state);

        if (gameObject == null)
        {
            Console.WriteLine("null object gotten");
        }

        bool usernameFound = gameObject.ships.Any(ship => ship.Username == Username);
        
        if (!usernameFound)
        {
            Console.WriteLine($"Username '{Username}' not found in ships.");
        }

        InvokeAsync(StateHasChanged);
    }

    private async Task StartGame()
    {
        if (Username == Lobbyname)
        {
            AkkaService.StartGame(Username);
        }
    }

    // Player controller
    private string[] movementKeys = ["w", "a", "d"];
    private HashSet<string> pressedKeys = new HashSet<string>();
    
    private void handleKeyDown(KeyboardEventArgs e)
    {
        if (movementKeys.Contains(e.Key))
        {
            pressedKeys.Add(e.Key);
        }
    }

    private void handleKeyUp(KeyboardEventArgs e)
    {
        pressedKeys.Remove(e.Key);
    }

    private void handleBlur()
    {
        pressedKeys = new HashSet<string>();
    }

    private void SendShipInput()
    {
        InvokeAsync(() =>
        {
            bool forward = pressedKeys.Contains("w");
            bool left = pressedKeys.Contains("a") && !pressedKeys.Contains("d");
            bool right = !pressedKeys.Contains("a") && pressedKeys.Contains("d");

            Console.WriteLine($"Forward: {forward}, Left: {left}, Right: {right}");
        });
    }

    public void Dispose()
    {
        hubService.NewGameState -= ReceiveGameState;
        timer?.Dispose();
    }
}