@using Microsoft.AspNetCore.SignalR.Client
@using BlazorFrontEnd.Services
@using Asteroids.Shared.GameObjects

@inject RemoteAkkaService AkkaService
@inject SignalRService hubService

@page "/game/{username}/{lobbyname}"

<h1>Welcome @Username</h1>

@if (@gameObject.state == GameState.JOINING)
{
    <div>Joining</div>
} 
else
{
    <div>Playing</div>
}

<div>List of Joined</div>
@if (gameObject != null){
    @if (gameObject.ships != null){
        <div>Player Count: @gameObject.ships.Count</div>
        <ul>
        @foreach (var item in gameObject.ships)
        {
            <li> @item.Username</li>
        }
        </ul>
    }
}

<div
    tabindex="0"
    class="border border-4 border-black rounded-4 game-board"
    style="height: 500px; width: 1000px;"
    @onkeydown="handleKeyDown"
    @onkeyup="handleKeyUp"
    @onblur="handleBlur"
>

</div>

<style>
    .game-board:focus {
        border-color: blue !important;
        background-color: lightgrey;
    }
</style>

@code {
    [Parameter]
    public string? Username { get; set; }

    [Parameter]
    public string? Lobbyname { get; set; }

    private List<string> list = new();
    private GameStateObject gameObject { get; set; }
    private System.Timers.Timer timer;

    protected override async Task OnInitializedAsync()
    {
        if (gameObject == null)
        {
            gameObject = new();
        }

        await hubService.EnsureStartedAsync();
        hubService.NewGameState += ReceiveGameState;
        AkkaService.GetState(Lobbyname, Username);
        
        StartTimer();
    }

    private void ReceiveGameState(GameStateObject game){
        gameObject = game;

        Console.WriteLine(gameObject.state);

        if (gameObject == null)
        {
            Console.WriteLine("null object gotten");
        }

        bool usernameFound = gameObject.ships.Any(ship => ship.Username == Username);
        
        if (!usernameFound)
        {
            Console.WriteLine($"Username '{Username}' not found in ships.");
        }

        InvokeAsync(StateHasChanged);
    }

    private void StartTimer()
    {
        timer = new System.Timers.Timer(100);
        timer.Elapsed += async (sender, e) =>
        {
            await InvokeAsync(async () =>
            {
                await AkkaService.GetState(Lobbyname, Username);
            });
        };
        timer.Start();
    }

    // Player controller
    private string[] movementKeys = ["w", "a", "d"];
    private HashSet<string> pressedKeys = new HashSet<string>();
    
    private void handleKeyDown(KeyboardEventArgs e)
    {
        if (movementKeys.Contains(e.Key))
        {
            pressedKeys.Add(e.Key);
        }
        Console.WriteLine($"Key pressed: {e.Key}");
    }

    private void handleKeyUp(KeyboardEventArgs e)
    {
        pressedKeys.Remove(e.Key);
    }

    private const double inputCheckInterval = 0.001;
    
    private void SendInputIfDifferent(object? state)
    {
        InvokeAsync(() =>
        {
            var forward = pressedKeys.Contains("w");
            var left = pressedKeys.Contains("a") && !pressedKeys.Contains("d");
            var right = !pressedKeys.Contains("a") && pressedKeys.Contains("d");

            
        });
    }

    private void handleBlur()
    {
        pressedKeys = new HashSet<string>();
    }

    public void Dispose()
    {
        hubService.NewGameState -= ReceiveGameState;
        timer.Stop();
    }
}