@page "/game/{username}/{lobbyname}"
@using Microsoft.AspNetCore.SignalR.Client
@using Asteroids.Shared.GameObjects
@inject RemoteAkkaService AkkaService
@* @inject HubConnection hubConnection *@
<h1>Welcome @Username</h1>

<div>List of Joined</div>

@foreach(var item in gameObject.ships)
{
    @item.Username
}


@code {
    [Parameter]
    public string? Username {get;set;}

    [Parameter]
    public string? Lobbyname {get;set;}

    private List<string> list = new();

    private GameStateObject gameObject = new();

    protected override async Task OnInitializedAsync()
    {
        gameObject = await AkkaService.GetState(Lobbyname, Username);
    }

}