@using Microsoft.AspNetCore.SignalR.Client
@using BlazorFrontEnd.Services
@using Asteroids.Shared.Actors

@inject RemoteAkkaService AkkaService
@inject NavigationManager NavigationManager
@inject SignalRService hubService
@* @inject HubConnection hubConnection *@

@implements IDisposable

@page "/home/{username}"
@* @rendermode InteractiveServer *@

<h1>Welcome @Username</h1>

<div>
    @* <input type="text" @bind="key" placeholder="Enter the key"> *@
    <button @onclick="CreateLobby">Create Lobby</button>
    <button @onclick="GetList">Get Lobby List</button>
</div>
<p>@response</p>
@foreach(var item in list)
{
    <div>
        <button @onclick="() => JoinLobby(item)">Join @item</button>
    </div>
}


@code {
    [Parameter, EditorRequired]
    public string Username { get; set; } = default!;

    private string response { get; set; }

    private List<string> list = new();

    protected override async Task OnInitializedAsync()
    {
        await hubService.EnsureStartedAsync();
        hubService.NewLobbyList += ReceiveLobbiesList;
        await GetList();
    }

    public void Dispose()
    {
        hubService.NewLobbyList -= ReceiveLobbiesList;
    }

    private async Task CreateLobby()
    {
        Console.WriteLine("Create lobby button has been pressed.");
        response = await AkkaService.CreateLobby(Username);
        await GetList();
    }

    private async Task GetList(){
        if (Username == null)
        {
            throw new NullReferenceException("Username cannot be null.");
        }

        await AkkaService.GetLobbies(Username);
    }

    private void ReceiveLobbiesList(List<string> lobbies)
    {
        Console.WriteLine("In home component.");
        list = lobbies;
        InvokeAsync(StateHasChanged);
    }

    private async Task JoinLobby(string item){
        AkkaService.JoinLobby(Username, item);

        NavigationManager.NavigateTo($"/game/{Username}/{item}");
    }

}
