@using Microsoft.AspNetCore.SignalR.Client;

@page "/"

<PageTitle>Login</PageTitle>
<div>
  <label for="username">Username:</label>
  <input id="username" type="text" @bind="username" placeholder="Enter a username">
  <button>Submit</button>
</div>

@code {
  private string? username { get; set; }
}