@using Microsoft.AspNetCore.SignalR.Client;
@using BlazorFrontEnd.Services;
@inject RemoteAkkaService AkkaService
@inject NavigationManager NavigationManager
@inject SignalRService hubService
@* @inject HubConnection hubConnection *@
@page "/"

<PageTitle>Login</PageTitle>

<div>
  <label for="username">Username:</label>
  <input id="username" type="text" @bind="username" placeholder="Enter a username">
  <button @onclick="LogIn">Submit</button>

  <p class="text-error">@errorMessage</p>
</div>

@code {
  private string? username { get; set; }
  private string errorMessage { get; set; }

  protected override async Task OnInitializedAsync()
  {
    
  }

  private async Task LogIn(){
    string result = await AkkaService.CreateClient(username, hubService.HubConnection.ConnectionId);

    if (result == username)
    {
      NavigationManager.NavigateTo($"/home/{username}");
    }
    else
    {
      errorMessage = "This username is already registered";
    }
  }
}