@using Microsoft.AspNetCore.SignalR.Client;
@using Asteroids.Shared.Actors
@using BlazorFrontEnd.Services;

@inject RemoteAkkaService AkkaService
@inject NavigationManager NavigationManager
@inject SignalRService hubService

@* @inject HubConnection hubConnection *@
@page "/"

<PageTitle>Login</PageTitle>

<div>
    <label for="username">Username:</label>
    <input id="username" type="text" @bind="username" placeholder="Enter a username">
    <button @onclick="LogIn">Submit</button>
    @if (username.Contains(" "))
    {
        <p class="text-error">Spaces are not allowed in the username.</p>
    }else if(string.IsNullOrWhiteSpace(username)){
        <p class="text-error">Cannot log in. Username required.</p>
    }
</div>

@code {
    private string? username = "";

    protected override async Task OnInitializedAsync()
    {

    }

    private async Task LogIn()
    {
        if (string.IsNullOrWhiteSpace(username))
        {
            throw new NullReferenceException("Cannot log in. Username required.");
        }
        else if (username.Contains(" "))
        {
            return;
        }

        AkkaService.CreateClient(username, await hubService.GetConnectionId());

        NavigationManager.NavigateTo($"/home/{username}");
    }
}
